<!doctype html>
<html>
  <head>
    <title>Text from Image</title>
    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-teal-950">
    <div class="flex justify-center text-lg p-10 text-white font-semibold">
      <div>
        <p>Extract the text from Image, default lang=en</p>
        <p>Uploads any image you want to extract</p>
        <p>NOTE: Fancy character may not detect properly</p>
        <form
          class="p-5"
          action="/extract"
          method="POST"
          enctype="multipart/form-data"
        >
          <label for="image">Choose a picture:</label>
          <input
            type="file"
            id="f_image"
            name="image"
            accept="image/png, image/jpeg"
            onchange="preview()"
          />
          <div class="p-5">
            <img id="d_image" src="" width="300" height="300" />
          </div>
          <div class="flex justify-start">
            <button
              class="bg-orange-600 text-white ml-9 p-2 px-6 rounded-md hover:bg-orange-500"
              type="summit"
              onclick="$('#loading').show();"
            >
              Extract
            </button>
            <button
              type="button"
              id="clear_button"
              class="bg-orange-600 text-white p-2 ml-10 rounded-md hover:bg-orange-500 px-8"
            >
              Clear
            </button>
          </div>
        </form>
        <div id="loading" style="display: none">
          <img src="loading.gif" alt="" />Loading!
        </div>
      </div>
    </div>
  </body>
  <script>
    function preview() {
      d_image.src = URL.createObjectURL(event.target.files[0]);
    }
    document.getElementById("clear_button").onclick = function () {
      $("#f_image").val("");
      $("#d_image").attr("src", "");
    };
  </script>
</html>
